/* colors */
$A-background: #fffbf6;
$B-textdark: #272626;
$B-textlight: #fffbf6;
$C-lightgrey: #f3efe9;
$C-darkgrey: #cac7c3;
$C-grayblue: #e7ebf3;
$C-orangedark: #ffdaba;
$C-orangelight: #ffeee0;
$D-CTAdominat: #ff7a00;
$D-CTAnormal: #ffa647;
$D-smallinteraction: #6661a3;
$E-totallyhealthy: #0e8a4a;
$E-healthy: #73c82c;
$E-neutral: #fbc707;
$E-notthathealthy: #f47216;
$E-nothealthy: #ef3120;
$E-textfields: #f4f3f3;

/* font family */
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf) format("truetype");
}

* {
  font-family: "Nunito";
  color: $B-textdark;
}

body {
  margin: 0;
  background: $A-background;
}

.wholeContent {
  max-width: 1440px;
  margin: auto;
}

nav {
  a {
    all: none;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    img {
      display: inline-block;
      margin-right: 10px;
      height: 21px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    padding: 6px;

    a {
      display: block flex;
      align-items: center;
    }
  }

  a:hover,
  .active {
    font-weight: 700;
    padding-bottom: 8px;
    display: block;
  }

  a:hover::after,
  .active::after {
    content: "";
    border-bottom: 3px solid;
    width: 60px;
    height: 4px;
    display: block;
  }

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100vh;
  padding: 10px 20px 20px 20px;
  background: $C-grayblue;
  font-size: 20x;
  line-height: 150%;
  letter-spacing: -0.266px;
  position: fixed;
  z-index: 1;
  top: 0;

  .upper-nav {
    flex-grow: 1;
  }

  .buddy-nav-logo {
    margin-bottom: 20px;
  }

  .sub-list {
    padding-left: 30px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.266px;

    a:hover,
    .sub-active {
      font-weight: 700;
      padding-bottom: 0px;
    }

    a:hover::after {
      content: none;
    }
  }
}
/*
nav {
  height: 100%;
  width: 230px;
  border-left: 2px solid #fff;
  position: fixed; // Stay in place 
  z-index: 1; // Stay on top 
  top: 0; // Stay at the top 
  background-color: $C-grayblue; // Black
  overflow-x: hidden;

  @media only screen and (max-width: 900px) {
    width: 100px;
  }
}*/

#main {
  min-height: 100vh;
  margin-left: 230px;
  padding: 0 25px;
  background-color: $A-background;
  border-right: 2px solid $C-lightgrey;
  position: relative;

  /*
  @media only screen and (max-width: 945px) {
    margin-left: 100px;
  }*/
}

.buddy-container {
  #buddy {
    z-index: 21;
    position: fixed;
    right: calc(50vw - 720px + 25px);
    bottom: 20px;

    @media only screen and (max-width: 1440px) {
      position: fixed;
      right: 25px;
      bottom: -70px;
    }

    &#buddy:hover {
      transition: all 150ms;
      transition-timing-function: cubic-bezier(0.87, -0.78, 0.12, 1.48);
      transform: translateY(100px);
      cursor: pointer;

      @media only screen and (max-width: 1250px) {
        transition: all 150ms ease-in-out;
        position: fixed;
        right: 25px;
        bottom: 20px;
      }
    }
  }

  #buddysMessage {
    visibility: hidden;
    z-index: 21;
    position: fixed;
    right: calc(50vw - 720px + 25px);
    bottom: 60px;
    max-width: 200px;
    height: auto;
    border-radius: 12px;
    background-color: $D-smallinteraction;
    padding: 0 16px;
    //box-shadow: 0px 5px 10px $D-smallinteraction;

    .messagetext {
      color: $A-background;
    }

    &#buddysMessage::before {
      content: "";
      position: absolute;
      top: 100%;
      right: 45px;
      width: 0;
      border-top: 20px solid $D-smallinteraction;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
    }
  }
}

/* font-sizes */
h1 {
  margin: 0 0 24px 0;
  padding-top: 24px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 0;
}

/* seachbar styling */
.searchbar {
  color: $B-textdark;
  display: flex;
  height: 56px;
  width: 270px;
  padding: 2px 2px 2px 16px;
  border: none;
  border-radius: 28px;
  margin: 0;
  background-color: $E-textfields;
  transition: all 500ms cubic-bezier(0, 0, 0.58, 1);

  input[type="search"] {
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    font-size: 16px;
    color: inherit;
    border-radius: inherit;
  }

  input[type="search"]::placeholder {
    color: $B-textdark;
    opacity: 70%;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  button[type="submit"] {
    overflow: hidden;
    height: 42px;
    width: 42px;
    padding: 0;
    margin: 5px;
    border: none;
    border-radius: inherit;
    background: transparent url(../icons/org/org-search.svg) no-repeat center;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0, 0, 0.58, 1);
  }

  button[type="submit"]:hover {
    border-radius: 26px;
    background-color: $C-orangedark;
  }

  &.searchbar:hover {
    content: "";
    background-color: $C-grayblue;
  }
}

/* icon button styling */
.iconbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0 8px;
  padding: 0;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0, 0, 0.58, 1);

  &.iconbutton:hover {
    background-color: $C-orangedark;
  }
}
