@import "main";

* {
  box-sizing: border-box;
}
nav {
  height: 100%;
  width: 250px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $C-grayblue; /* Black*/
  overflow-x: hidden;

  @media only screen and (max-width: 900px) {
    width: 100px;
  }
}

body {
  margin: 0;
  background-color: $A-background;
}

main {
  max-width: 1190px;
  margin-left: 250px;
  padding: 0 25px;
  background-color: $A-background;

  @media only screen and (max-width: 900px) {
    margin-left: 100px;
  }
}

.buddy-container {
  #buddy {
    z-index: 21;
    position: fixed;
    right: 50px;
    bottom: 20px;

    @media only screen and (max-width: 1350px) {
      position: fixed;

      bottom: -70px;
    }
  }

  #buddy:hover {
    transition: all 150ms ease-in-out;
    transform: scale(1.06);
    cursor: pointer;

    @media only screen and (max-width: 1350px) {
      transition: all 150ms ease-in-out;
      position: fixed;
      right: 50px;
      bottom: 20px;
    }
  }

  #buddysMessage {
    visibility: hidden;
    z-index: 21;
    position: fixed;
    right: 50px;
    bottom: 160px;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
    background-color: $D-smallinteraction;
    padding: 0 16px;
    //box-shadow: 0px 5px 10px $D-smallinteraction;

    .messagetext {
      color: $A-background;
    }
  }

  #buddysMessage::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 45px;
    width: 0;
    border-top: 20px solid $D-smallinteraction;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}

.headerImage {
  margin-left: 250px;
  height: 300px;
  width: calc(100% - 250px);
  max-width: 1190px;
  object-fit: cover;

  @media only screen and (max-width: 900px) {
    margin-left: 100px;
    width: calc(100% - 100px);
  }
  @media only screen and (min-width: 1440px) {
    border-radius: 0 0 12px 0;
  }
}

.sticky {
  position: sticky;
  top: 0;
  height: 125px;
  background-color: $A-background;
  z-index: 10;

  @media only screen and (max-width: 1150px) {
    height: 165px;
  }

  .lines {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;

    .iconbutton {
      margin: 0;
    }

    .special-iconbutton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      margin: 0;
      padding: 0;
      height: 48px;
      width: 48px;
      border-radius: 24px;
      border: none;
      outline: none;
      cursor: pointer;
      img {
        pointer-events: none;
      }
    }

    .special-iconbutton:hover {
      background-color: $C-orangedark;
    }

    .save {
      background-color: $C-orangedark;
      border-radius: 8px;
    }

    .dropdownSave {
      position: relative;
      display: inline-block;

      .dropdown-content {
        display: none;
        position: absolute;
        right: 56px;
        top: 0px;
        background-color: $C-orangelight;
        border-radius: 8px;
        min-width: 170px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        .dropdown-header {
          height: 48px;
          display: flex;
          padding: 0 16px;
          align-items: center;
          background-color: $C-orangedark;
          border-radius: 8px 8px 0 0;
          font-weight: bold;
        }
        hr {
          margin: 0;
          border: 1px solid $A-background;
        }
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
      }

      .dropdown-content::before {
        content: "";
        position: absolute;
        top: -12px;
        right: 6px;
        rotate: 135deg;
        width: 0;
        border-top: 15px solid $C-orangedark;
        border-bottom: 35px solid transparent;
        border-right: 15px solid transparent;
      }

      .dropdown-content a:hover {
        background-color: $C-orangedark;
        border-radius: 0 0 8px 8px;
      }

      .show {
        display: block;
      }
    }

    .back-button {
      margin: 0;
    }

    .recipeName {
      padding: 0;
      margin-right: 16px;
    }
  }
}

.information {
  .stars-container {
    display: flex;
    align-items: center;

    .rating-stars {
      margin-right: 8px;
    }
  }
}

.chipinline {
  display: flex;
  align-items: center;

  .chip {
    margin-right: 8px;
    display: flex;
    height: 32px;
    padding: 0 16px;
    align-items: center;
    border: 2px solid $C-darkgrey;
    border-radius: 8px;
  }
  #healthIndicator {
    border: none;
    background-color: $E-neutral;
  }
}

.ingredients-container {
  h2 {
    margin: 0;
    padding: 32px 0 8px 0;
  }
  .person-count-selection {
    display: flex;
    align-items: center;

    .person-count {
      margin: 22px 8px 0 8px;
      background-color: $E-textfields;
      height: 40px;
      width: 70px;
      border-radius: 8px;

      h2 {
        padding: 0;
      }
    }
  }

  #listed-ingredients {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;

    .ingredient {
      height: 120px;
      width: 120px;
      padding: 4px;
      margin: 0 8px 8px 0;
      border: 2px solid $C-darkgrey;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        stroke-width: 2px;
        height: 50px;
        padding: 8px;
        margin-bottom: 8px;
      }

      .ingredientContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 14px;
          line-height: 100%;
          height: 30px;
        }

        .amount {
          font-size: 12px;
          opacity: 70%;
        }
      }
    }
  }
}

#listed-utensils {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;

  .utensil {
    height: 120px;
    width: 120px;
    padding: 4px;
    margin: 0 8px 8px 0;
    border: 2px solid $C-darkgrey;
    border-radius: 25px;
    background-color: $C-lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      stroke-width: 2px;
      height: 50px;
      padding: 8px;
      margin-bottom: 8px;
    }

    .utensilContent {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin-top: 15px;
        font-size: 14px;
      }

      .amount {
        font-size: 12px;
        opacity: 70%;
      }
    }
  }
}

.preparation-container {
  max-width: 900px;
  padding-bottom: 40px;
  font-size: 25px;

  .preparation-list {
    padding-left: 80px;
    margin: 0;

    li {
      margin: 16px 0;
      line-height: 140%;
    }
  }
}

.rating-container {
  margin-bottom: 100px;
  .rating-box {
    margin-bottom: 12px;
    background-color: $E-textfields;
    padding: 30px 40px;
    border-radius: 12px;
    max-width: 900px;

    .rating-stars {
      display: inline-block;
    }

    .rating-date {
      font-size: 14px;
    }

    .like-comment {
      margin-top: 12px;
      display: flex;
      justify-content: end;

      .like-button {
        border: none;
        width: 48px;
        background: url(../icons/org/org-like-not-filled.svg) no-repeat;
        background-position: center;
        margin-left: 40px;

        &.liked {
          background: url(../icons/org/org-like-filled.svg) no-repeat;
          background-position: center;
          cursor: pointer;
        }
      }

      .like-button:hover {
        background: url(../icons/org/org-like-filled.svg) no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }
  }
}
