@import "main";

main {
  height: 100vh;
}

.search-container {
  max-height: 60vh;
  max-width: 1190px;
  margin: 50px 200px 0 0;
  padding: 50px;
  border: 2px solid $C-darkgrey;
  border-radius: 12px;

  @media only screen and (max-width: 1440px) {
    max-width: none;
    margin-right: 0px;
  }
  .search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #chip-container {
    margin-top: 40px;

    .chip {
      width: fit-content;
      margin-bottom: 8px;

      .chip-content {
        background-color: $C-orangedark;
        display: flex;
        padding: 8px 16px;
        align-items: center;
        border-radius: 12px;

        .filterName {
          margin: 0 12px 0 0;
          font-size: 14px;
        }

        img {
          rotate: 270deg;
          height: 15px;
        }
      }
    }
  }
}
